src/[Ll]ibrary/
src/[Tt]emp/
src/[Oo]bj/
src/[Bb]uild/
src/[Bb]uilds/
src/[Ll]ogs/
src/[Mm]emoryCaptures/
src/[Pp]rojectSettings/
src/[Pp]rojectSettings/*
src/[Uu]serSettings/
src/[Uu]serSettings/*
src/Assembly-CSharp.csproj
